@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.page-container {
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container.dark {
  background-image: url(./dark-bg.jpg);
  color: white;
}
.page-container.light {
  background-image: url(./light-bg.png);
  color: midnightblue;
}

/* Header */
header {
  text-align: center;
  font-size: 1.5rem; /* h1 size will be 1.5x bigger than default */
}
.shadow {
  text-shadow: 3px 3px 7px #fff, -3px -3px 7px #fff, -1px -1px 15px #2db2ff,
    1px 1px 15px #2db2ff;
}

header,
form {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

@media screen and (min-width: 1200px) {
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Form */
form input,
form button {
  width: 18rem;
  padding: 0.75rem; /* add 0.75x of the font size as padding */
  font-size: 1.5rem; /* default size x1.5 */
  border: none;
  background-color: white;
}
@media screen and (min-width: 1200px) {
  form input {
    width: 25rem;
  }
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  width: 50px;
  color: grey;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #2db2ff;
  color: white;
}

/* todo container */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

/* Buttons */
.trash-btn,
.complete-btn {
  background-color: #f63c42;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-btn:hover {
  background-color: #c8292f;
}

.complete-btn {
  background-color: #40db61;
}
.complete-btn:hover {
  background-color: #30a94a;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* Selector */

/* reset the stylings of the select/dropdown */
select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 18rem;
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  form select {
    width: 13rem;
  }
}

.filter-todo {
  padding: 1rem;
}

.select {
  position: relative;
  margin: 1rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: #ceb0fc;
  cursor: pointer;
  pointer-events: none;
}

/* Switch button */
.container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  .container {
    display: block;
    width: 1000px;
  }
}

.container .btn {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.container .btn:hover a {
  letter-spacing: 3px;
}
.container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.container .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container .btn::before,
.container .btn::after {
  background: #2db2ff;
  box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
    0 0 60px #2db2ff;
}
